/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/01/2017, 05:01:25 PM
    Author     : anyulbade
*/

*{
    margin: 0px;
    padding: 0px;
}

h1{
    font: bold 20px verdana, sans-serif;
}

h2{
    font: bold 14px verdana, sans-serif;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup{
    display: block;
}

body{
    text-align: center;
}

#principal {
    display: block;
    width: 904px;
    margin: 10px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #999999;
    background: #DDDDDD;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    
}

#agrupar{
    width: 960px;
    margin: 15px auto;
    text-align: left;
}

#cabecera{
    background: #FFFBB9;
    border: 1px solid #999999;
    padding: 20px;
}

#inicializar{
    background: #CCCCCC;
    padding: 5px 15px;
}

#inicializar li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}

#seccion{
    float: left;
    width: 660px;
    margin: 20px;
}

#columna{
    float: left;
    width: 600px;
    margin: 10px 20px;
    padding: 20px;
    background: #CCCCCC;

}

#pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}

article{
    background: #FFFBCC;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;
}

article footer{
    text-align: right;
}

div{
    width: 100px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #000000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#operacionesCubo{
    width: 100px;
    margin: 20px;
    padding: 10px;
    border: 0px solid #000000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}